.profile__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 22px 244px 0 30px;
  width: 336px;
}

@media (max-width: 1024px)and (min-width: 625px) {
  .profile__info {
    margin-right: auto;
  }
}

@media (max-width: 624px)and (min-width: 424px) {
  .profile__info {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 425px)and (min-width: 320px) {
  .profile__info {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
