.elements-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 361px);
  gap: 20px 17px;
}

@media (max-width: 988px) and (min-width: 670px) {
  .elements-list {
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 2fr);
    justify-content: space-around;
  }
}

@media (max-width: 671px) and (min-width: 220px) {
  .elements-list {
    grid-template-rows: repeat(6, 361px);
    grid-template-columns: auto;
    gap: 20px;
    justify-content: center;
  }
}

