.container {
  padding: 0;
  margin: 0;
  max-width: 100%;
  width: 100%;
  display: flex;
  background: #000000;
}

@media (max-width: 419px)and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}
