.header__link {
  margin: 51px 0 46px auto;
  text-decoration: none;
  color: inherit;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

.header__link:hover {
  cursor: pointer;
  opacity: 0.7;
}
