.popup__container {
    display: flex;
    flex-direction: column;
    margin: 8px auto auto;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 2%;
}

@media (max-width: 598px) and (min-width: 320px) {
  .popup__container {
    margin-top: 16px;
  }
}