.element__trash {
  display: none;
  margin: 20px 20px 323px 244px;
  padding: 0;
  width: 18px;
  height: 19px;
  position: absolute;
  border: none;
  background-color: rgba(0,0,0,0.0);
  background-image: url(../../../images/Trash.png);
  background-size: contain;
}

.element__trash:hover {
  cursor: pointer;
  opacity: .6;
}
