@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/container/container.css);
@import url(./blocks/content/content.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__trash/_visible/element__trash_visible.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__counter/element__counter.css);
@import url(./blocks/element/__icon/element__icon.css);
@import url(./blocks/element/__icon/_active/element__icon_active.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__place/element__place.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements-list/elements-list.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__block/popup__block.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_image/popup_image.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image-big/popup__image-big.css);
@import url(./blocks/popup/__image-name/popup__image-name.css);
@import url(./blocks/popup/__save-btn/popup__save-btn.css);
@import url(./blocks/popup/__save-btn/_inactiv/popup__save-btn_inactive.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__text/_type_error/popup__text_type_error.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__title/profile__title.css);